.wrapper {
  padding: 10px 20px;
  background-color: #eee;
  & > *:not(:last-child) {
    margin-bottom: 5px;
  }
}
h3 {
  word-break: break-word;
}
.index {
  padding-right: 15px;
  font-size: 14px;
  font-weight: normal;
  color: #333;
  white-space: nowrap;
}
.id {
  font-size: 14px;
  color: #333;
}
.link {
  display: inline-block;
  word-break: break-word;
}
